#header {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#info {
    margin-left: 5px;
    border: none;
    background-color: white;
}
#info > img {
    width: 35px;
    height: 35px;
    align-self: center;
    transition: all 0.2s;
}
#info > img:hover {
    cursor: pointer;
    width: 40px;
    height: 40px;
}
canvas {
    box-shadow: black 10px 20px 50px;
    background-color: black;
    margin-bottom: 15px;
}
table, td {
    border: black 1px solid;
    padding: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    margin-bottom: 3px;
    background-color: white;
    cursor: pointer;
}
td:hover {
    background-color: black;
    color: white;
}