#body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(47,150,163), rgb(48,62,143));
    color: white;
}
body {
    background-color: rgb(48,62,143);
}
.location, .temperature {
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.degree-section {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s;
}
.degree-section span {
    margin: 10px;
    font-size: 30px;
    transition: all 0.4s;
}
.degree-section span:hover {
    padding-left: 2px;
    color: blanchedalmond;
}
.degree-section h2 {
    font-size: 40px;
}
.icon {
    margin-left: 40px;
    width: 128px;
    height: 128px;
    transition: all 0.4s;
}
.icon:hover {
    margin-left: 33px;
    width: 135px;
    height: 135px;
    cursor: pointer;
}

/* Button 2 */
.forecast-button {
    display: none;
}
.btn-2-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.btn-2 {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: bold;
    background: linear-gradient(rgb(47,150,163), rgb(48,62,143));
    width: 110px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;

    
    opacity: 0.5;
}
.btn-2:hover, .btn-2:focus, .btn-2:active {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    color: rgba(255, 255, 255);

    opacity: 0.8;
}

/* Showing forecast */
#forecast-timezone {
    display: none;
    position: relative;
    top: 0;
    font-size: 30px;
}
.forecast {
    display: none;
    flex-flow: row wrap;
    justify-content: center;
    position: relative;
    top: 0;
    margin-top: 50px;
    
}
.forecast div {
    margin-right: 50px;
    margin-bottom: 50px;
    font-size: 20px;
}
.forecast-degree-section {
    cursor: pointer;
    transition: all 0.4s;
}
.forecast-temp {
    font-size: 25px;
}
.forecast-FC {
    color: white;
    transition: all 0.4s;
}
.forecast-FC:hover {
    padding-left: 2px;
    color: blanchedalmond;
}
.forecast-canvas {
    margin-top: 3px;
    transition: all 0.4s;
}
.forecast-canvas:hover {
    margin-top: 1px;
    cursor: pointer;
}
.forecast-datetime {
    font-size: 15px;
    color: rgb(200, 197, 197);
    margin-left: 3px;
    padding-bottom: 0px;
    transition: all 0.4s;
}
.forecast-datetime:hover {
    cursor: pointer;
    margin-left: 5px;
}
